In [92]:
import pandas as pd

In [93]:
base = pd.read_excel("ChavesClientes.xlsx", sheet_name = "base")

In [94]:
base.head()

   ID ChaveSituacao ClassRisco   CatCliente  Pagamento
0   1          32FC     Ccinza  Basic-Alpha          1
1   2          25MV   AAmarelo        Black          1
2   3          27MV  B-Amarelo   Basic-Beta          1
3   4          26FD   BAmarelo        Black          0
4   5          26FD  C-Amarelo        Black          0

Verificando a cardinalidade desses dados

In [95]:
base.groupby(["Pagamento", "ChaveSituacao"])["Pagamento"].count()

Pagamento  ChaveSituacao
0          26FD             2
           28FC             2
           28MD             1
           30FC             1
           31MD             1
1          25FD             1
           25FV             1
           25MV             1
           26MC             2
           27MC             1
           27MD             2
           27MV             1
           28FS             1
           29MV             1
           31MV             1
           32FC             1
Name: Pagamento, dtype: int64

Podemos começar tratando simplismente separando a string da coluna

In [96]:
texto = '32FC'

In [97]:
texto[-1]

'C'

In [98]:
base['idade'] = base.ChaveSituacao.str[:2]
base['Genero'] = base.ChaveSituacao.str[2:3]
base['EstadoCivil'] = base.ChaveSituacao.str[-1]

In [99]:
base.head()

,ID,ChaveSituacao,ClassRisco,CatCliente,Pagamento,idade,Genero,EstadoCivil
0,1,32FC,Ccinza,Basic-Alpha,1,32,F,C
1,2,25MV,AAmarelo,Black,1,25,M,V
2,3,27MV,B-Amarelo,Basic-Beta,1,27,M,V
3,4,26FD,BAmarelo,Black,0,26,F,D
4,5,26FD,C-Amarelo,Black,0,26,F,D

Podemos também fazer o split (divisão) de um valor baseado em um delimitador

In [100]:
base.groupby(["Pagamento","EstadoCivil"])["Pagamento"].count()

Pagamento  EstadoCivil
0          C              3
           D              4
1          C              4
           D              3
           S              1
           V              5
Name: Pagamento, dtype: int64

In [101]:
texto = 'Basic-Alpha'

In [102]:
texto.split('-')

['Basic', 'Alpha']

In [103]:
base['Categoria'] = base.CatCliente.str.split('-').str.get(0)
base['CatVIP'] = base.CatCliente.str.split('-').str.get(1)

In [104]:
base.head()

,ID,ChaveSituacao,ClassRisco,CatCliente,Pagamento,idade,Genero,EstadoCivil,Categoria,CatVIP
0,1,32FC,Ccinza,Basic-Alpha,1,32,F,C,Basic,Alpha
1,2,25MV,AAmarelo,Black,1,25,M,V,Black,NaN
2,3,27MV,B-Amarelo,Basic-Beta,1,27,M,V,Basic,Beta
3,4,26FD,BAmarelo,Black,0,26,F,D,Black,NaN
4,5,26FD,C-Amarelo,Black,0,26,F,D,Black,NaN

Caso a gente não consiga separar pela posição do texto ou por um delimitado, ainda temos a opção de usar o regex

In [105]:
import re

In [106]:
re.findall('Lucas', 'meu nome é Lucas')

['Lucas']

In [107]:
# Buscando Lucas no texto abaixo
re.findall('Lu*cas', 'meu nome é Lcas')

['Lcas']

In [108]:
# Verificando se começa ou termina com um caractere (usando, $)
re.findall('^meu', 'meu nome é Lcas')

['meu']

In [109]:
# Buscando a classificação do cliente dentro da coluna "ClassRisco"
re.findall('^[A-Z][^A-Za-z]?', 'AAmarelo' )

['A']

In [112]:
base['Risco'] = base.ClassRisco.apply(lambda x:re.findall('^[A-Z][^A-Za-z]?', x))

In [113]:
base.head()

,ID,ChaveSituacao,ClassRisco,CatCliente,Pagamento,idade,Genero,EstadoCivil,Categoria,CatVIP,Risco
0,1,32FC,Ccinza,Basic-Alpha,1,32,F,C,Basic,Alpha,[C]
1,2,25MV,AAmarelo,Black,1,25,M,V,Black,NaN,[A]
2,3,27MV,B-Amarelo,Basic-Beta,1,27,M,V,Basic,Beta,[B-]
3,4,26FD,BAmarelo,Black,0,26,F,D,Black,NaN,[B]
4,5,26FD,C-Amarelo,Black,0,26,F,D,Black,NaN,[C-]

Transformando a columa 'Idade' em númerico

In [117]:
base.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID             20 non-null     int64
 1   ChaveSituacao  20 non-null     object
 2   ClassRisco     20 non-null     object
 3   CatCliente     20 non-null     object
 4   Pagamento      20 non-null     int64
 5   idade          20 non-null     int64
 6   Genero         20 non-null     object
 7   EstadoCivil    20 non-null     object
 8   Categoria      20 non-null     object
 9   CatVIP         8 non-null      object
 10  Risco          20 non-null     object
dtypes: int64(3), object(8)
memory usage: 1.8+ KB

In [118]:
base['idade'] = pd.to_numeric(base['idade'])

In [119]:
base.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID             20 non-null     int64
 1   ChaveSituacao  20 non-null     object
 2   ClassRisco     20 non-null     object
 3   CatCliente     20 non-null     object
 4   Pagamento      20 non-null     int64
 5   idade          20 non-null     int64
 6   Genero         20 non-null     object
 7   EstadoCivil    20 non-null     object
 8   Categoria      20 non-null     object
 9   CatVIP         8 non-null      object
 10  Risco          20 non-null     object
dtypes: int64(3), object(8)
memory usage: 1.8+ KB

por fim, tratando os valores vazios

In [120]:
base.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID             20 non-null     int64
 1   ChaveSituacao  20 non-null     object
 2   ClassRisco     20 non-null     object
 3   CatCliente     20 non-null     object
 4   Pagamento      20 non-null     int64
 5   idade          20 non-null     int64
 6   Genero         20 non-null     object
 7   EstadoCivil    20 non-null     object
 8   Categoria      20 non-null     object
 9   CatVIP         8 non-null      object
 10  Risco          20 non-null     object
dtypes: int64(3), object(8)
memory usage: 1.8+ KB

In [124]:
# Verificando os campos vazios em CatVIP
base.loc[base.CatVIP.isnull()]

# Atribuindo o valor Comum nos campos vazios da coluna CatVIP
base.loc[base.CatVIP.isnull(), "CatVIP"] = "Comum"

In [125]:
base.info

<bound method DataFrame.info of     ID ChaveSituacao ClassRisco      CatCliente  Pagamento  idade Genero  \
0    1          32FC     Ccinza     Basic-Alpha          1     32      F
1    2          25MV   AAmarelo           Black          1     25      M
2    3          27MV  B-Amarelo      Basic-Beta          1     27      M
3    4          26FD   BAmarelo           Black          0     26      F
4    5          26FD  C-Amarelo           Black          0     26      F
5    6          28FC  C-Amarelo  Platinum-Alpha          0     28      F
6    7          27MD    A-Verde   Platinum-Beta          1     27      M
7    8          31MD    C-Cinza           Basic          0     31      M
8    9          28FS    A-Cinza           Black          1     28      F
9   10          31MV  C+Amarelo        Platinum          1     31      M
10  11          29MV   AAmarelo           Basic          1     29      M
11  12          30FC    C-Cinza      Basic-Beta          0     30      F
12  13          28FC     Bverde           Basic          0     28      F
13  14          26MC    A-Verde        Platinum          1     26      M
14  15          26MC      Croxo     Black-Alpha          1     26      M
15  16          27MC     B-Roxo        Platinum          1     27      M
16  17          25FD    A-Verde           Black          1     25      F
17  18          28MD    C-Cinza      Black-Beta          0     28      M
18  19          27MD   CAmarelo  Platinum-Alpha          1     27      M
19  20          25FV   AAmarelo        Platinum          1     25      F

   EstadoCivil Categoria CatVIP Risco
0            C     Basic  Alpha   [C]
1            V     Black  Comum   [A]
2            V     Basic   Beta  [B-]
3            D     Black  Comum   [B]
4            D     Black  Comum  [C-]
5            C  Platinum  Alpha  [C-]
6            D  Platinum   Beta  [A-]
7            D     Basic  Comum  [C-]
8            S     Black  Comum  [A-]
9            V  Platinum  Comum  [C+]
10           V     Basic  Comum   [A]
11           C     Basic   Beta  [C-]
12           C     Basic  Comum   [B]
13           C  Platinum  Comum  [A-]
14           C     Black  Alpha   [C]
15           C  Platinum  Comum  [B-]
16           D     Black  Comum  [A-]
17           D     Black   Beta  [C-]
18           D  Platinum  Alpha   [C]
19           V  Platinum  Comum   [A]  >