In [1]:
# Importando o as bilbiotecas
import pandas as pd

In [6]:
df = pd.read_csv("ocorrencias_aereas.csv", sep=";")
df.head(2)

,codigo_ocorrencia,codigo_ocorrencia1,codigo_ocorrencia2,codigo_ocorrencia3,codigo_ocorrencia4,ocorrencia_classificacao,ocorrencia_latitude,ocorrencia_longitude,ocorrencia_cidade,ocorrencia_uf,...,ocorrencia_dia,ocorrencia_hora,investigacao_aeronave_liberada,investigacao_status,divulgacao_relatorio_numero,divulgacao_relatorio_publicado,divulgacao_dia_publicacao,total_recomendacoes,total_aeronaves_envolvidas,ocorrencia_saida_pista
0,52242,52242,52242,52242,52242,INCIDENTE,NaN,NaN,PORTO ALEGRE,RS,...,05/01/2012,20:27:00,***,FINALIZADA,***,NÃO,NaN,0,1,NÃO
1,45331,45331,45331,45331,45331,ACIDENTE,-23.4355555556,-46.4730555556,GUARULHOS,SP,...,06/01/2012,13:44:00,SIM,FINALIZADA,A-582/CENIPA/2014,SIM,2016-09-01,3,1,NÃO

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5167 entries, 0 to 5166
Data columns (total 22 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   codigo_ocorrencia               5167 non-null   int64
 1   codigo_ocorrencia1              5167 non-null   int64
 2   codigo_ocorrencia2              5167 non-null   int64
 3   codigo_ocorrencia3              5167 non-null   int64
 4   codigo_ocorrencia4              5167 non-null   int64
 5   ocorrencia_classificacao        5167 non-null   object
 6   ocorrencia_latitude             4192 non-null   object
 7   ocorrencia_longitude            4192 non-null   object
 8   ocorrencia_cidade               5167 non-null   object
 9   ocorrencia_uf                   5167 non-null   object
 10  ocorrencia_pais                 5167 non-null   object
 11  ocorrencia_aerodromo            5167 non-null   object
 12  ocorrencia_dia                  5167 non-null   object
 13  ocorrencia_hora                 5166 non-null   object
 14  investigacao_aeronave_liberada  5001 non-null   object
 15  investigacao_status             4910 non-null   object
 16  divulgacao_relatorio_numero     4783 non-null   object
 17  divulgacao_relatorio_publicado  5167 non-null   object
 18  divulgacao_dia_publicacao       1351 non-null   object
 19  total_recomendacoes             5167 non-null   int64
 20  total_aeronaves_envolvidas      5167 non-null   int64
 21  ocorrencia_saida_pista          5167 non-null   object
dtypes: int64(7), object(15)
memory usage: 888.2+ KB

In [9]:
df.loc[1, 'ocorrencia_cidade']

'GUARULHOS'

In [10]:
df.loc[1:3]

,codigo_ocorrencia,codigo_ocorrencia1,codigo_ocorrencia2,codigo_ocorrencia3,codigo_ocorrencia4,ocorrencia_classificacao,ocorrencia_latitude,ocorrencia_longitude,ocorrencia_cidade,ocorrencia_uf,...,ocorrencia_dia,ocorrencia_hora,investigacao_aeronave_liberada,investigacao_status,divulgacao_relatorio_numero,divulgacao_relatorio_publicado,divulgacao_dia_publicacao,total_recomendacoes,total_aeronaves_envolvidas,ocorrencia_saida_pista
1,45331,45331,45331,45331,45331,ACIDENTE,-23.4355555556,-46.4730555556,GUARULHOS,SP,...,06/01/2012,13:44:00,SIM,FINALIZADA,A-582/CENIPA/2014,SIM,2016-09-01,3,1,NÃO
2,45333,45333,45333,45333,45333,ACIDENTE,***,***,VIAMÃO,RS,...,06/01/2012,13:00:00,NaN,FINALIZADA,A-070/CENIPA/2013,SIM,2013-11-27,0,1,NÃO
3,45401,45401,45401,45401,45401,ACIDENTE,***,***,SÃO SEBASTIÃO,SP,...,06/01/2012,17:00:00,***,NaN,NaN,NÃO,NaN,0,1,NÃO

In [11]:
df.loc[[10,40]]

,codigo_ocorrencia,codigo_ocorrencia1,codigo_ocorrencia2,codigo_ocorrencia3,codigo_ocorrencia4,ocorrencia_classificacao,ocorrencia_latitude,ocorrencia_longitude,ocorrencia_cidade,ocorrencia_uf,...,ocorrencia_dia,ocorrencia_hora,investigacao_aeronave_liberada,investigacao_status,divulgacao_relatorio_numero,divulgacao_relatorio_publicado,divulgacao_dia_publicacao,total_recomendacoes,total_aeronaves_envolvidas,ocorrencia_saida_pista
10,45332,45332,45332,45332,45332,ACIDENTE,***,***,VIAMÃO,RS,...,09/01/2012,13:30:00,SIM,FINALIZADA,A-072/CENIPA/2013,SIM,2013-11-27,0,1,NÃO
40,45415,45415,45415,45415,45415,ACIDENTE,***,***,RIO DE JANEIRO,RJ,...,30/01/2012,13:55:00,SIM,FINALIZADA,A-077/CENIPA/2013,SIM,2013-10-21,0,1,NÃO

Selecionando todas as linhas de umas determinadas colunas

In [14]:
df.loc[:,['ocorrencia_cidade', 'ocorrencia_uf']]

     ocorrencia_cidade ocorrencia_uf
0         PORTO ALEGRE            RS
1            GUARULHOS            SP
2               VIAMÃO            RS
3        SÃO SEBASTIÃO            SP
4             SÃO SEPÉ            RS
...                ...           ...
5162             JATAÍ            GO
5163           MARACAÍ            SP
5164     NOVO HAMBURGO            RS
5165          CURITIBA            PR
5166         PETROLINA            PE

[5167 rows x 2 columns]

Definindo o indice da tabela

In [ ]:
df.set_index('codigo_ocorrencia', inplace=True)

In [19]:
# Exibindo os títulos das colunas
df.head()

,codigo_ocorrencia1,codigo_ocorrencia2,codigo_ocorrencia3,codigo_ocorrencia4,ocorrencia_classificacao,ocorrencia_latitude,ocorrencia_longitude,ocorrencia_cidade,ocorrencia_uf,ocorrencia_pais,...,ocorrencia_dia,ocorrencia_hora,investigacao_aeronave_liberada,investigacao_status,divulgacao_relatorio_numero,divulgacao_relatorio_publicado,divulgacao_dia_publicacao,total_recomendacoes,total_aeronaves_envolvidas,ocorrencia_saida_pista
codigo_ocorrencia,,,,,,,,,,,,,,,,,,,,,
52242,52242,52242,52242,52242,INCIDENTE,NaN,NaN,PORTO ALEGRE,RS,BRASIL,...,05/01/2012,20:27:00,***,FINALIZADA,***,NÃO,NaN,0,1,NÃO
45331,45331,45331,45331,45331,ACIDENTE,-23.4355555556,-46.4730555556,GUARULHOS,SP,BRASIL,...,06/01/2012,13:44:00,SIM,FINALIZADA,A-582/CENIPA/2014,SIM,2016-09-01,3,1,NÃO
45333,45333,45333,45333,45333,ACIDENTE,***,***,VIAMÃO,RS,BRASIL,...,06/01/2012,13:00:00,NaN,FINALIZADA,A-070/CENIPA/2013,SIM,2013-11-27,0,1,NÃO
45401,45401,45401,45401,45401,ACIDENTE,***,***,SÃO SEBASTIÃO,SP,BRASIL,...,06/01/2012,17:00:00,***,NaN,NaN,NÃO,NaN,0,1,NÃO
45407,45407,45407,45407,45407,ACIDENTE,***,***,SÃO SEPÉ,RS,BRASIL,...,06/01/2012,16:30:00,SIM,FINALIZADA,A-071/CENIPA/2013,SIM,2013-11-27,0,1,NÃO

In [21]:
# Reseta o indice da tabela
df.reset_index(drop=True, inplace=True)

In [22]:
df.head()

,codigo_ocorrencia1,codigo_ocorrencia2,codigo_ocorrencia3,codigo_ocorrencia4,ocorrencia_classificacao,ocorrencia_latitude,ocorrencia_longitude,ocorrencia_cidade,ocorrencia_uf,ocorrencia_pais,...,ocorrencia_dia,ocorrencia_hora,investigacao_aeronave_liberada,investigacao_status,divulgacao_relatorio_numero,divulgacao_relatorio_publicado,divulgacao_dia_publicacao,total_recomendacoes,total_aeronaves_envolvidas,ocorrencia_saida_pista
0,52242,52242,52242,52242,INCIDENTE,NaN,NaN,PORTO ALEGRE,RS,BRASIL,...,05/01/2012,20:27:00,***,FINALIZADA,***,NÃO,NaN,0,1,NÃO
1,45331,45331,45331,45331,ACIDENTE,-23.4355555556,-46.4730555556,GUARULHOS,SP,BRASIL,...,06/01/2012,13:44:00,SIM,FINALIZADA,A-582/CENIPA/2014,SIM,2016-09-01,3,1,NÃO
2,45333,45333,45333,45333,ACIDENTE,***,***,VIAMÃO,RS,BRASIL,...,06/01/2012,13:00:00,NaN,FINALIZADA,A-070/CENIPA/2013,SIM,2013-11-27,0,1,NÃO
3,45401,45401,45401,45401,ACIDENTE,***,***,SÃO SEBASTIÃO,SP,BRASIL,...,06/01/2012,17:00:00,***,NaN,NaN,NÃO,NaN,0,1,NÃO
4,45407,45407,45407,45407,ACIDENTE,***,***,SÃO SEPÉ,RS,BRASIL,...,06/01/2012,16:30:00,SIM,FINALIZADA,A-071/CENIPA/2013,SIM,2013-11-27,0,1,NÃO

In [24]:
# Altera todos os dados de uma linha
df.loc[0, 'ocorrencia_aerodromo'] = ''

In [26]:
# Altera todos os valores de uma coluna
df.loc[:, 'codigo_ocorrencia4'] = 123

In [29]:
# Criar um backup de uma coluna
df['ocorrencia_cidade_bkp'] = df.ocorrencia_cidade

In [31]:
# Fazendo um filtro
df.loc[df.ocorrencia_uf == 'SP']

,codigo_ocorrencia1,codigo_ocorrencia2,codigo_ocorrencia3,codigo_ocorrencia4,ocorrencia_classificacao,ocorrencia_latitude,ocorrencia_longitude,ocorrencia_cidade,ocorrencia_uf,ocorrencia_pais,...,ocorrencia_hora,investigacao_aeronave_liberada,investigacao_status,divulgacao_relatorio_numero,divulgacao_relatorio_publicado,divulgacao_dia_publicacao,total_recomendacoes,total_aeronaves_envolvidas,ocorrencia_saida_pista,ocorrencia_cidade_bkp
1,45331,45331,45331,123,ACIDENTE,-23.4355555556,-46.4730555556,GUARULHOS,SP,BRASIL,...,13:44:00,SIM,FINALIZADA,A-582/CENIPA/2014,SIM,2016-09-01,3,1,NÃO,GUARULHOS
3,45401,45401,45401,123,ACIDENTE,***,***,SÃO SEBASTIÃO,SP,BRASIL,...,17:00:00,***,NaN,NaN,NÃO,NaN,0,1,NÃO,SÃO SEBASTIÃO
5,52243,52243,52243,123,INCIDENTE,NaN,NaN,UBATUBA,SP,BRASIL,...,14:30:00,***,FINALIZADA,***,NÃO,NaN,0,1,NÃO,UBATUBA
6,50713,50713,50713,123,INCIDENTE GRAVE,***,***,CAMPINAS,SP,BRASIL,...,18:15:00,SIM,FINALIZADA,IG-184/CENIPA/2013,SIM,2014-01-08,0,1,NÃO,CAMPINAS
13,45408,45408,45408,123,ACIDENTE,-24.5888888889,-48.2113888889,ELDORADO,SP,BRASIL,...,13:45:00,SIM,FINALIZADA,A-509/CENIPA/2021,SIM,2021-07-08,1,1,NÃO,ELDORADO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5148,80441,80441,80441,123,ACIDENTE,-23.0052,-46.6336,BRAGANÇA PAULISTA,SP,BRASIL,...,18:15:00,NÃO,ATIVA,A DEFINIR,NÃO,NaN,0,1,SIM,BRAGANÇA PAULISTA
5157,80453,80453,80453,123,INCIDENTE,-23.00694444444,-47.13444444444,CAMPINAS,SP,BRASIL,...,09:00:00,SIM,FINALIZADA,***,NÃO,NaN,0,1,NÃO,CAMPINAS
5158,80454,80454,80454,123,INCIDENTE GRAVE,-21.144167,-50.426389,ARAÇATUBA,SP,BRASIL,...,21:35:00,SIM,FINALIZADA,***,NÃO,NaN,0,1,SIM,ARAÇATUBA
5161,80456,80456,80456,123,INCIDENTE,-23.626111,-46.656389,SÃO PAULO,SP,BRASIL,...,13:15:00,SIM,FINALIZADA,***,NÃO,NaN,0,1,SIM,SÃO PAULO
5163,80452,80452,80452,123,ACIDENTE,-22.585556,-50.753889,MARACAÍ,SP,BRASIL,...,09:30:00,SIM,ATIVA,A DEFINIR,NÃO,NaN,0,1,NÃO,MARACAÍ

In [46]:
# Fazendo um filtro utilizando AND
#df.loc[df.ocorrencia_classificacao == 'INCIDENTE']

df.loc[(df.ocorrencia_uf == 'SP') & (df.ocorrencia_classificacao == 'INCIDENTE')]

,codigo_ocorrencia1,codigo_ocorrencia2,codigo_ocorrencia3,codigo_ocorrencia4,ocorrencia_classificacao,ocorrencia_latitude,ocorrencia_longitude,ocorrencia_cidade,ocorrencia_uf,ocorrencia_pais,...,ocorrencia_hora,investigacao_aeronave_liberada,investigacao_status,divulgacao_relatorio_numero,divulgacao_relatorio_publicado,divulgacao_dia_publicacao,total_recomendacoes,total_aeronaves_envolvidas,ocorrencia_saida_pista,ocorrencia_cidade_bkp
5,52243,52243,52243,123,INCIDENTE,NaN,NaN,UBATUBA,SP,BRASIL,...,14:30:00,***,FINALIZADA,***,NÃO,NaN,0,1,NÃO,UBATUBA
28,52248,52248,52248,123,INCIDENTE,NaN,NaN,SÃO PAULO,SP,BRASIL,...,11:15:00,***,FINALIZADA,***,NÃO,NaN,0,1,NÃO,SÃO PAULO
35,52054,52054,52054,123,INCIDENTE,NaN,NaN,SÃO PAULO,SP,BRASIL,...,23:00:00,***,FINALIZADA,***,NÃO,NaN,0,1,NÃO,SÃO PAULO
36,52055,52055,52055,123,INCIDENTE,NaN,NaN,RIBEIRÃO PRETO,SP,BRASIL,...,09:30:00,***,FINALIZADA,***,NÃO,NaN,0,1,NÃO,RIBEIRÃO PRETO
53,45469,45469,45469,123,INCIDENTE,NaN,NaN,PIRACICABA,SP,BRASIL,...,20:45:00,***,FINALIZADA,***,NÃO,NaN,0,1,NÃO,PIRACICABA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5129,80433,80433,80433,123,INCIDENTE,-23.00694444444,-47.13444444444,CAMPINAS,SP,BRASIL,...,22:00:00,SIM,FINALIZADA,***,NÃO,NaN,0,1,NÃO,CAMPINAS
5134,80425,80425,80425,123,INCIDENTE,-23.626111,-46.656389,SÃO PAULO,SP,BRASIL,...,20:30:00,SIM,FINALIZADA,***,NÃO,NaN,0,1,NÃO,SÃO PAULO
5143,80431,80431,80431,123,INCIDENTE,-23.9280,-46.2997,SANTOS,SP,BRASIL,...,12:30:00,SIM,FINALIZADA,***,NÃO,NaN,0,1,NÃO,SANTOS
5157,80453,80453,80453,123,INCIDENTE,-23.00694444444,-47.13444444444,CAMPINAS,SP,BRASIL,...,09:00:00,SIM,FINALIZADA,***,NÃO,NaN,0,1,NÃO,CAMPINAS
5161,80456,80456,80456,123,INCIDENTE,-23.626111,-46.656389,SÃO PAULO,SP,BRASIL,...,13:15:00,SIM,FINALIZADA,***,NÃO,NaN,0,1,SIM,SÃO PAULO

Fazendo a limpeza de dados

In [48]:
df.isnull().sum()

codigo_ocorrencia1                   0
codigo_ocorrencia2                   0
codigo_ocorrencia3                   0
codigo_ocorrencia4                   0
ocorrencia_classificacao             0
ocorrencia_latitude                975
ocorrencia_longitude               975
ocorrencia_cidade                    0
ocorrencia_uf                        0
ocorrencia_pais                      0
ocorrencia_aerodromo                 0
ocorrencia_dia                       0
ocorrencia_hora                      1
investigacao_aeronave_liberada     166
investigacao_status                257
divulgacao_relatorio_numero        384
divulgacao_relatorio_publicado       0
divulgacao_dia_publicacao         3816
total_recomendacoes                  0
total_aeronaves_envolvidas           0
ocorrencia_saida_pista               0
ocorrencia_cidade_bkp                0
dtype: int64