In [1]:
# Importando as bibliotecas
import pandas as pd
import numpy as np

In [8]:
# Crianado Series
# Listas
#pd.Series([1, 4, 9, 11, 22, 87]) dtype = int64
#pd.Series([1, 4, 9.5, 11, 22, 87]) dtype = float64
# pd.Series([1, 4, 9.5, 11, 22, "Cachorro"]) dtype = object

In [11]:
# Indices
pd.Series(np.random.random(5), index = ["a", "b", "c", "d", "e",])
pd.Series({"a": 12, "b": 71, "c": 543})

a     12
b     71
c    543
dtype: int64

In [15]:
# Acessando as informações
# Series com dicionários
s = pd.Series({"a": 12, "b": 71, "c": 543})
s["a"] # Expecificado o indice

12

In [18]:
# Acessando as informações
# Series com dicionários
s = pd.Series({"a": 12, "b": 71, "c": 543})
s[0] # Expecificado o indice como lista (posição na lista)

12

In [21]:
serieComNome = pd.Series(np.random.randn(5), name = "valores")
serieComNome

0   -0.416137
1    0.338924
2   -1.118759
3   -1.259901
4   -1.005169
Name: valores, dtype: float64

In [24]:
# Series como arrays
type(serieComNome[0])

numpy.float64

In [35]:
# Operações matemáticas
a = pd.Series(np.random.randn(5))
b = pd.Series(np.random.randn(5))

a * b

0    0.071345
1    0.068570
2   -0.224829
3   -0.596077
4   -1.881759
dtype: float64

In [36]:
# A média
np.average(a)

-0.5153027083498849

In [40]:
# Abrindo o arquivo da base de aluguel
import os
from pathlib import Path
p = Path(os.getcwd())
#pasta_bases = str(p.parent.parent) + "\\bases\\"
alugueis = pd.read_csv("houses_to_rent.csv")

In [45]:
alugueis.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6080 entries, 0 to 6079
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      6080 non-null   int64
 1   city            6080 non-null   int64
 2   area            6080 non-null   int64
 3   rooms           6080 non-null   int64
 4   bathroom        6080 non-null   int64
 5   parking spaces  6080 non-null   int64
 6   floor           6080 non-null   object
 7   animal          6080 non-null   object
 8   furniture       6080 non-null   object
 9   hoa             6080 non-null   object
 10  rent amount     6080 non-null   object
 11  property tax    6080 non-null   object
 12  fire insurance  6080 non-null   object
 13  total           6080 non-null   object
dtypes: int64(6), object(8)
memory usage: 665.1+ KB